# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
.vscode/

#llama.cpp ignore
LLMServer/llama_cpp/*

LLMServer/models/*

#sentence transformer
PythonServer/Character/models/

Config/LLMServer